.marker-cluster {
	width: 40px;
	height: 40px !important;
	background: url(img/icones/marker_cluster.png);
	background-repeat: no-repeat;
	background-clip: padding-box;
	}
.marker-cluster div {
	width: 40px;
	height: 40px;
	margin-top: 5px;

	text-align: center;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	font-weight: bold;
	}