/*
 * MAP
 * =============================================
 */

 /* search */
 .bold{
     font-weight:600;
 }
 .search-input {
   font-family:Courier
}
.search-input, .leaflet-control-search {
	max-width:400px;
}

.markerTemplate{
	height: 350px;
}
.popupMap{
	width: 150px;
	text-align: center;
	margin: 0px;
}
.media{
	width : 100%;
	float: left;
}
.infos{
	width: 40%;
	padding-left: 5px;
	float: left;
}
#map{
	width: 100%;
	float: left;
	overflow:hidden;
	display:block;
}
#mapMobile{
	width: 100%;
	height:100%;
	float: left;
	overflow:hidden;
	display:block;
}
.legendBox{
    margin-top:10px;
}
.titreInfo{
	font-size: 20pt;
	margin-bottom: 10px;
}
.color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    float:left;
    margin-top:5px;
    margin-right:5px;
}
#form{
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 10px;
    overflow: hidden;
}
fieldset{
    margin-top: 20px;
    padding-top: 20px;
    border: none;
    float: left;

}
#form fieldset:first-of-type{
    margin-right: 10px;
    padding-right: 20px;
}
fieldset legend{
    font-size: 15pt;
}
fieldset label{
    margin-right: 50px;
}
fieldset p{
    margin-top: 10px;
}
#form input:last-of-type{
    margin-bottom: 0px;
}
#inputName{
    margin-left: 20px;
}
select{
	margin-left: 20px;
}
[type=radio], [type=checkbox]{
    margin-right: 20px;
}
[type=text]{
    width: 200px;
    height: 25px;
}
textarea{
    width: 100%;
    margin-top: 10px;
    height: 80px;
}
#msg{
    display: none;
    height: 40px;
    margin-top: 20px;
}

.error{
    color: red;
}

.success{
    color:green;
}

/*
	Sidebar
    */
    #sidebar{
     z-index: 2;
     right: 0px;
     position: absolute;
     width: 90%;
     background-color: #f3f3f3;
     height: 100%;
     overflow: hidden;
 }
 #hideShowBar{
     position: relative;
     width: 30px;
     background-color: #d6d6d6;
     height: 100%;
     -webkit-box-shadow: -7px 0px 14px rgba(50, 50, 50, 0.51);
     -moz-box-shadow:    -7px 0px 14px rgba(50, 50, 50, 0.51);
     box-shadow:         -7px 0px 14px rgba(50, 50, 50, 0.51);
     cursor: pointer;
 }
 #hideShowArrow{
     margin:auto;
     bottom: 0;
     left: 0;
     margin: auto;
     position: absolute;
     top: 0;
     right: 0;
     width: 0px;
     height: 0px;
     border-style: solid;
     border-width: 50px 0 50px 10px;
     border-color: transparent transparent transparent #8f8f8f;
 }
 #sideContent{
     position: absolute;
     top:0px;
     width: 100%;
     height: 100%;
     margin-left: 30px;
     float: right;
     overflow-y: scroll;
     overflow-x: hidden;
     background: url('../img/URBANGENE_Final.png') 50% no-repeat;
     background-size: contain;
 }

 .small-width #sideContent {
    background: #f8f8f8; /* old browser */

  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.85) 100%), url(bg.png) repeat 0 0, url('../img/URBANGENE_Final.png') no-repeat 50%;

  background: -moz-linear-gradient(top, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0.85) 100%), url('../img/URBANGENE_Final.png') no-repeat 50%;

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,0.85))), url('../img/URBANGENE_Final.png') repeat 0 0;

  background: -webkit-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.85) 100%), url('../img/URBANGENE_Final.png') no-repeat 50%;

  background: -o-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.85) 100%), url('../img/URBANGENE_Final.png') no-repeat 50%;

  background: -ms-linear-gradient(top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.85) 100%), url('../img/URBANGENE_Final.png') no-repeat 50%;

  background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.85) 100%), url('../img/URBANGENE_Final.png') no-repeat 50%;

  background-size: contain;
}

/*ADD POINT
* hidden to start*/
#addPoint{
	display: none;
}
#markerSection{
	position: fixed;
	height: 170px;
	width: 185px;
	background-color: #f3f3f3;
	z-index: 2;
	top:0px;
	-webkit-box-shadow: 0px 4px 5px -3px rgba(50, 50, 50, 0.51);
	box-shadow: 0px 4px 5px -3px rgba(50, 50, 50, 0.51);
}
#dndtext{
	display: block;
	text-align: center;
	margin: 10px 0px 0px 0px;
	height: 20px;
	width: 200px;
}
#smallText{
	font-size: 0.6em;
	display: block;
	text-align: center;
	width: 200px;
}
.poi-type{
	position: relative;
	width: 200px;
	display: block;
	text-align: center;
	margin-top: 0px;
	height: 80px;
	padding-top: 65px;
	margin-bottom: -60px;
	overflow: hidden;
}
.dragDummy{
	left:50%;
	position: absolute;
	width: 50px;
	margin-left: -20px;
	margin-top: -49px;
	height: 49px;
	width: 40px;
	z-index: 3;
	opacity: 0.15;
}
.drag{
	position: absolute;
	left:50%;
	top:50%;
	width: 50px;
	margin-left: -20px;
	margin-top: -49px;
	height: 49px;
	width: 40px;
	z-index: 3;
}
#buttons{
	width: 200px;
	height: auto;
	overflow: hidden;
	height: 30px;
}
#accept, #delete{
	position: relative;
	margin-left: 10px;
	float: right;
	margin-right: 23px;
	margin-bottom: 20px;
	margin-top: 8px;
}
.accept{
	margin-top: 10px;
	margin-right: 30px;
}
#dataForm{
	width: 400px;
	display: none;
	position: relative;
}
#dataForm input[type=text]{
	width: 170px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#dataForm label{
	margin: 10px 5px;
	display: block;
	text-align: left;
}
#dataForm label.leftAlign{
	text-align: left;
	text-indent: -35px;
	margin-left: 50px;
	display: block;
}
#dataForm label.yesNo{
	display: inline;
	margin-left: 30px;
}
#dataForm #imageRadio input[type=radio]{
	margin: 10px 0px 20px 23px;
	width: 30px;
}
#contact, #contactEmail, #contactEmail2, #otherSpecies{
	opacity: 0;
	display: none;
}
#contactEmail, #contactEmail2{
	margin-top: 15px;
}
#contact, #prop, #ownership, #otherSpecies, #biodiversity, #distance, #presence, #health, #life, #openspace, #quality, #extra, #pseudo, #questions{
	width: 350px;
	margin: auto;
	padding: 5px 10px 10px 10px;
	margin-bottom: 20px;
}
.smallText {
	font-size: 0.7em;
	display: block;
	margin-top: 10px;
}
.right{
	text-align: center;
}
#sliderQuality, #sliderLife, #sliderHealth{
	width: 300px;
	margin: 15px 0px 10px 13px;
}
.faible{
	margin-left: 10px;
}
.forte{
	float: right;
	margin-right: 30px;
}
#imageRadio{
	width: 350px;
	display: none;
	position: relative;
	margin: 200px auto 40px auto;
	padding: 5px 10px 10px 10px;
}
#imageRadio .imageType{
	position: inherit;
	margin: 10px 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}
#dataForm #biodiversity input[type=text]{
	margin: 0px;
	display: inline;
}
.drop{
	margin-top: 20px;
	margin-bottom: 40px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}
.drop input[type=radio]{
	margin-left: 10px;
	margin-right: 10px;
}
.imageType > input[type=checkbox]{
  display:none;
}
input[type=checkbox] + img{
  cursor:pointer;
}



/* INTRODUCTION */
.sideContainer{
	position: absolute;
	height: 100%;
}
.contentCenter{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	font-size: large;
	font-weight: 400;
    position: relative;
}
.contentCenter b{
	font-weight: bold;
}
.contentCenter img {
    max-width: 80%;
    height: auto;
    width: auto;
    box-sizing: border-box;
    vertical-align: middle;
}
.narrowCenter{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.narrowCenter .intro{
	border-top: 2px solid #00c1c1;
	margin-top: 25px;
	padding-top: 12px;
	float: left;
    width: 46%;
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(243,243,243,0.7);
}
.narrowCenter .intro a {
    color: #00c1c1;
    text-decoration: none;
}
.narrowCenter .intro a:hover {
    text-decoration: underline;
}
#picto{
	margin-left: 5%;
}
.intro:first-child{
	margin-right: 4%;
}
.narrowCenter p{
	margin-bottom: 10px;
	text-align: justify;
}
.roundImage{
	margin: 30px 0px;
	float: left;
}
.roundImage img:first-child{
	margin-left: 0px;
}
.roundImage img{
	margin-left: 30px;
}
#logoTop{
	height: 90px;
}
#logoTop img{
	max-width: 100%;
    height: auto;
    width: 15%;
    box-sizing: border-box;
    vertical-align: middle;
}
#logoTop img#urbangene{
	margin: 35px auto 25px auto;
	width: 350px;
}
#logoEpfl{
	float: left;
	margin-left: 0px;
}
#logoHeig{
	float: right;
	margin-left: 0px;
}
.small-width #logoBottom {
    display: none;
}
#logoBottom{
	height: 90px;
	margin-top: 20px;
	padding-top: 20px;
}
#logoBottom img {
	max-width: 100%;
    height: auto;
    width: 20%;
    box-sizing: border-box;
    vertical-align: middle;
    float: left;

    position: absolute;
    bottom: 10px;
    right: 10%;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #logoBottom img {
        content: url('../img/logo/gg@2x.png');
        width: 250px;
        height: 79px;
    }
}

#introduction .narrowCenter h1 {
    background: url('../img/urbangenelogo.png') 50% no-repeat;
    width: 388px;
    height: 57px;
    margin: 0 auto;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #introduction .narrowCenter h1 {
        background: url('../img/urbangenelogo@2x.png') 50% no-repeat;
        background-size: 388px 57px
    }
}
.partners li {
    list-style-type: none;
    position: absolute;
    top: 0;
}
.partners .epfl {
    left: 0;
}
.partners .epfl a {
    background: url('../img/logo/epfl.png') 50% no-repeat;
    height: 57px;
    width: 115px;
    display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .partners .epfl a {
        background: url('../img/logo/epfl@2x.png') 50% no-repeat;
        background-size: 115px 57px;
    }
}
.partners .heig {
    right: 0;
}
.partners .heig a {
    background: url('../img/logo/heig.png') 50% no-repeat;
    height: 57px;
    width: 125px;
    display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .partners .heig a {
        background: url('../img/logo/heig@2x.png') 50% no-repeat;
        background-size: 125px 57px;
    }
}
.partners li a {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}


@media screen and (max-width: 980px) {
    .partners li {
        display: none;
    }
}
@media screen and (max-width: 560px) {
    #introduction .narrowCenter h1 {
        width: 100%;
        background-size: contain;
    }
    .narrowCenter .intro {
        float: none;
        width: 100%;

    }
    .narrowCenter .intro:last-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0;
    }
}
.nextButton{
	position: relative;
	cursor: pointer;
	background-color: #218fcc;
	border: 3px solid white;
	height: 35px;
	width: 35px;
	float: right;
}
#groupeNextButton{
	float: right;
	margin-top: 20px;
	margin-bottom: -20px;
	margin-left: -119px;

    margin-bottom: 10px;
}
#groupeNextButton p{
	float: left;
	margin-top: 10px;
    margin-right: 5px;
}
#hideArrow{
	margin:auto;
	bottom: 0;
	left: 5px;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 11px 0 11px 18px;
	border-color: transparent transparent transparent white;
}
.warning{
	border: 1px solid #d60b0b;
	background-color: #e7e7e7;
}
/* uploader */
#upload a{
    background-color:#51b321;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
    margin-left: 90px;
}
#upload input{
    display:none;
}
#upload ul{
    list-style:none;
    margin:20px;
}

#upload ul li{
    border-top: 1px solid #363636;
    height: 80px;
    width: 300px;
    position: relative;
}

#dataForm #upload ul li input{
    display: none;
}

#upload ul li p{
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 70px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 0px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 14px;
    background: url('../img/icons.png') no-repeat;
    background-position: 0px -12px;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}
#dataForm label.pseudo{
	display: inline;
	margin-left: 0px;
}
#dataForm input.pseudo{
	margin-left: 10px;
	width: 220px;
	display: inline;
}

#notification {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100%;
    height: 170px;
    line-height: 170px;
    background: #9ecf5e;
    text-align: center;
    z-index:9999;
}
#notification p{
	height: 20px;
	width: 200px;

}

/* tooltip */
.ui-tooltip, .arrow:after {
    background: black;
}
body .ui-tooltip {
    padding: 10px 20px;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.arrow {
    overflow: hidden;
    position: absolute;
    left: 100%;
    margin-top: -20px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent #363636;
}
.arrow.top:after {
    bottom: 20px;
    top: auto;
}
body .ui-dialog {
    box-shadow: 0 0 3px #333;
}
body .ui-widget-content {
	border: 0px;
	background: #F3F3F3;
	color: #333;
}
.tooltip{
	position: absolute;
	float: left;
	padding: 6px 5px;
	width: 140px;
	text-align: center;
	margin-top: -30px;
	color: #f3f3f3;
	background-color: #363636;
	border: 1px solid #8f8f8f;
	z-index: 9;
}
/*restor sliders*/
body #sidebar .ui-widget-content{
	background: #8f8f8f;
}
#questions{
	margin-top: 30px;
	cursor: pointer;
}
h2{
	margin: 20px auto 20px 60px;
	height: 20px;
}
#questions:hover h2{
	color: #8f8f8f;
}
#personalData{
	display: none;
}
#expandArrow.deployed {
    background: url(img/icones/contract_arrow.png) no-repeat;

}
#expandArrow {
	background: url(img/icones/expand_arrow.png) no-repeat;
	margin: 20px auto 20px 30px;
	height: 20px;
	width: 20px;
	float: left;
}

.hr2{
	margin: auto 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    #expandArrow.deployed {
        background: url(img/icones/contract_arrow@2x.png) no-repeat;
        background-size: 20px;
    }
    #expandArrow {
        background: url(img/icones/expand_arrow@2x.png) no-repeat;
        background-size: 20px;
    }
}
